<ion-header>
  <app-encabezado [tituloPagina]="nombrePagina"></app-encabezado>
</ion-header>

<ion-content>

    <ion-card *ngIf="datosUsuario">
        <img [src]="datosUsuario.avatar" />
        <ion-card-header>
          <ion-card-subtitle id="name">{{ datosUsuario.first_name }}</ion-card-subtitle>
          <ion-card-title id="last-n">{{ datosUsuario.last_name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content id="email-d">
            {{ datosUsuario.email }}
        </ion-card-content>
      </ion-card>

</ion-content>
